.projectSection {
    position: absolute;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
    text-align: center;
}

.projectSection>span {
    font-size: 50px;
}

.projectSection>p {
    width: 70%;
    margin: 20px 0;
}

.projectsDiv {
    display: flex;
    /* background: #000; */
    word-wrap: break-word;
    margin: 20px 0;
}

.projectsDiv>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.projectsDiv>div>p {
    padding: 0 40px;
}

.projectTital {
    display: inline-block;
    margin-bottom: 30px;
}