.projectSection {
    position: absolute;
    font-size: 40px;
    overflow: visible;
    text-align: center;
}

.discription {
    width: 300px;
    z-index: -1;
    left: -120px;
    top: -65px;
    transition-duration: .5s;
}

.discription:hover {
    z-index: 99;
    transform: scale(1.05);
    transition-duration: .5s;
}

.projectsDiv {
    position: absolute;
    overflow: visible;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0)); */
}

.projectsDiv>img {
    width: 400px;
    position: absolute;
    z-index: -1;
    border: 1px solid gray;
}