#zoom_outerid {
    color: white;
    height: 100vh;
    background: rgb(26, 30, 35);
    font-family: 'Patrick Hand SC', cursive;
}

#zoom_outerid>p {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#zoom {
    background: rgba(96, 228, 255, 0.214);
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px) ease;
    transition-duration: 100ms;
    /* cursor: grab; */
    overflow: visible;

    /* width: 600px; */
    display: inline-block;
    /* height: 100px; */
}

/* delete it */
.initialLink {
    background: #ffffff;
    display: inline-block;
    padding: 10px;
}

.node {
    background: #00000048;
    position: absolute;
    overflow: visible;
}

.objective {
    left: -500px;
    top: 100px;
    width: 550px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Patrick Hand SC', cursive;
}