.myCertificateSection {
    position: absolute;
    font-size: 50px;
    overflow: visible;
    width: 1310px;
    /* background: #0000005c; */
}
.tital{
    margin: 0 40%;
}

.certificateImg {
    width: 300px;
    margin: 13px;
}

.certificateTital {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.titalDiv {
    display: flex;
    align-items: center;
}
.images{
    display: flex;
    align-items: center;
}