.navbar-section {
    margin-left: 200px;
    margin-top: .5rem;
    position: absolute;
    z-index: 1;
}

/* .navbar-section Button { */
    /* background: #000; */
    /* backdrop-filter: saturate(10%) blur(1px); */
    /* backdrop-filter: blur(100px); */
    /* backdrop-filter: opacity(20%); */
    /* backdrop-filter: sepia(90%); */
    /* backdrop-filter: saturate(80%); */
    /* backdrop-filter: drop-shadow(4px 4px 10px rgb(255, 0, 0)); */
/* } */